[submodule "dependencies/PerlinNoise-Kernel"]
	path = dependencies/PerlinNoise-Kernel
	url = https://github.com/MaroonSkull/PerlinNoise-Kernel
[submodule "dependencies/glfwpp"]
	path = dependencies/glfwpp
	url = https://github.com/janekb04/glfwpp
[submodule "dependencies/imgui/imgui"]
	path = dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
