[submodule "dependencies/PerlinNoise-Kernel"]
	path = dependencies/PerlinNoise-Kernel
	url = https://github.com/MaroonSkull/PerlinNoise-Kernel
[submodule "dependencies/glfwpp"]
	path = dependencies/glfwpp
	url = https://github.com/MaroonSkull/glfwpp
[submodule "dependencies/imgui/imgui"]
	path = dependencies/imgui/imgui
	url = https://github.com/ocornut/imgui
[submodule "dependencies/implot/implot"]
	path = dependencies/implot/implot
	url = https://github.com/epezent/implot.git
